---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }} by {{page.author}}
  </div>
  
  <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

  <div class="entry">
    {{ content }}
    <p>&nbsp;</p>
    {% include youtubePlayer.html id=page.youtubeId %}
  </div>

  

  {% include disqus.html %}
</article>
